
<div class="container" style="margin-top:30px">

    <div class="row">


<div class="col-lg-6" style= "margin-top: 30px;">
    <div class="box h-80 d-flex justify-content-center flex-column">
        <img class="img-responsive mx-auto d-block" src="../../../assets/img/contacto.jpg" />

    </div>

</div>
<div class="col-lg-6 mx-auto ">
    <h5 class="text-danger">Dirección:</h5>
    <p>Avenida Heroinas esq. 16 de Julio, acera sud - Cochabamba</p>
    <h5 class="text-danger">Horarios de atencion:</h5>
    <p>Lunes a Sabado de 10:00 pm a 18:00 pm</p>
    <p>Dj. Snake - 74638495</p>
    <br>
    <a id="map" target="_blank">
        <div id="map-tile">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.7129949962996!2d-66.15175141653235!3d-17.391332588602825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e3735b120eab0f%3A0x69466088a8a5f564!2sPansh%20music!5e0!3m2!1ses-419!2sbo!4v1578548055142!5m2!1ses-419!2sbo" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </a>

</div>  


</div>

</div>