<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="card-footer">
    <div class="container">
        <div class="row">
            <section id="hours" class="col-md-4">
                <span>Horarios de atención:</span><br> Lunes a Sabado: 10:00am - 18:00pm<br>
                <p>*Consultorias: Lunes a viernes de 14:00pm a 18:00pm</p>
                <hr class="d-sm-block d-md-none">
            </section>
            <section id="address" class="col-md-4">
                <span>Dirección:</span><br> Avenida Heroinas esq. 16 de Julio, acera sud <br> Cochabamba
                <hr class="d-sm-block d-md-none">
            </section>
            <section id="links" class="col-md-4">
                <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"></a>
                <a href="https://youtube.com/" target="_blank" class="fa fa-youtube"></a>
                <a href="https://instagram.com/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://snapchat.com/" target="_blank" class="fa fa-snapchat-ghost"></a>
                <a href="https://whatsapp.com/" target="_blank" class="fa fa-whatsapp"></a>
            </section>
            
        </div>
        <div class="text-center">&copy; Copyright Best Music 2020</div>
    </div>
</footer>