<div class="d-flex justify-content-between m-3">
        <h4>Edit Artist</h4>
    
        <button mat-button (click) = "onClose()">
            <mat-icon> close </mat-icon>
        </button>
    </div>
    
    <div style="overflow: auto; height: 200px;">
        <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
            <div class="m-3 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Id </span>
                </div>
                <input readonly="readonly" type ="text"
                class="form-control"
                name="id"
                #id="ngModel"
                [(ngModel)]= "service.formData.id">
            </div>

            <div class="m-3 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name </span>
                </div>
                <input required minlength="2" type ="text"
                 class="form-control"
                  name="nombre"
                   #nombre="ngModel"
                   [(ngModel)]= "service.formData.nombre">
            </div>
    
            <div class="text-left text-danger"
            *ngIf="nombre.invalid && nombre.touched">
                Please enter Artist name.
            </div>
            
            <div class="mt-4 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Time </span>
                    </div>
                    <input type ="text"
                     class="form-control"
                      name="edad"
                       #edad="ngModel"
                       [(ngModel)]= "service.formData.edad">
            </div>
                 <div class="text-left text-danger"
                *ngIf="edad.invalid && edad.touched">
                    Please enter Artist time.
                </div>

            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Biography </span>
                </div>
                <input type ="text"
                 class="form-control"
                  name="biografia"
                   #biografia="ngModel"
                   [(ngModel)]= "service.formData.biografia">
            </div>
            
            <div class="mt-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Image Url </span>
                </div>
                <input type ="text"
                 class="form-control"
                  name="imgPath"
                   #imgPath="ngModel"
                   [(ngModel)]= "service.formData.imgPath">
            </div>
    
            <button class="mt-4" mat-raised-button
             color="primary"
            type="submit"
            [disabled]="form.invalid">Update Artist</button>
    
        </form>
    
    </div>