<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
        
    <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-12 " >
            <div class="row img-thumbnail">
                <div id="image" class="col-lg-6 mx-auto ">
                    <h4 class="text-center letterstyle" style= "margin-top: 10px;"><strong>{{artista.nombre}}</strong></h4>
                    <img class="border" class="img-responsive img-thumbnail d-block center" src="{{artista.imgPath}}"style="width:60%" />
                    
                </div>
                <div id="artist" class="col-lg-6">
                    
                    <p class="letterstyle"><strong> Id Artista:</strong> {{artista.id}}</p>
                    <p class="letterstyle"><strong>Edad: </strong>{{artista.edad}} años</p>
                    <p class="letterstyle"><strong>Biografia:</strong>{{artista.biografia}}</p>
                </div>
            </div>
        </div>

    </div>

</div>



<h4 class="text-center letterstyle" style= "margin-top: 10px;"><strong>Canciones del Artista</strong></h4>
<div class="container">
<div class="row">
    <div class=" col-sm-12 col-md-12 col-lg-12 " *ngFor="let cancion of canciones">
        <div class="row img-thumbnail">
            <div id="image" class="col-lg-4 ">
                <img class="border" class="img-responsive img-thumbnail d-block center" src="../../../assets/img/itunes2.jpg" style="width:60%" />
                
            </div>
            <div id="song" class="col-lg-4 ">
                
                <p class="letterstyle"><strong> Id Cancion:</strong> {{cancion.id}}</p>
                <p class="letterstyle"><strong>Nombre: </strong>{{cancion.nombre}}</p>
                <p class="letterstyle"><strong>Duracion:</strong>{{cancion.duracio}} minutos</p>
                <p class="letterstyle"><strong>Genero:</strong>{{cancion.genero}}</p>
            </div>
            <div class="col-lg-4 mx-auto ">
                <br>
                <button (click)="onDelete(cancion)"  class="btn btn-danger btn-lg">Eliminar</button> 
                <button (click)="onEdit(cancion)" class="btn btn-success btn-lg">Editar</button> <br> <br>
                <button (click)="onVote(cancion)" class="btn btn-info fa fa-thumbs-up fa-2x">Votar</button> 
                <button (click)="onBuy(cancion)" class="btn btn-warning fa fa-shopping-cart fa-2x">Comprar</button>
            </div>
        </div>
    </div>

</div>

</div>

    
<button class="mt-2 btn-lg " mat-raised-button (click)="onAddSong()" 
color="accent" style= "margin-left:150px;"> Add Song</button>

   
